@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --clr-primary: hsl(4, 100%, 67%);
  --clr-secondary: hsl(234, 29%, 20%);
  --clr-grey-med: hsl(235, 18%, 26%);
  --clr-grey-light: hsl(231, 7%, 60%);
  --clr-white: hsl(0, 0%, 100%);
  /* input field */
  --input-border: var(--clr-grey-light);
  --input-border-focus: var(--clr-secondary);
  /* input field error state */
  --input-border-error: var(--clr-primary);
  --clr-primary-h: 4;
  --clr-primary-s: 100%;
  --clr-primary-l: 67%;
  /* error alert */
  --clr-error-text: var(--clr-primary);
  /* buttons */
  --btn-lg1: var(--clr-primary);
  --btn-lg2: hsl(346, 100%, 66%);
  --btn-bg: var(--clr-secondary);
  --btn-bg-hover: linear-gradient(to bottom, var(--btn-lg1), var(--btn-lg2));
  --btn-text: var(--clr-white);
  --btn-fw: var(--fw-b);
  --btn-focus: var(--clr-primary);
  /* typography */
  --ff-ss: "Roboto", sans-serif;
  --fw-r: 400;
  --fw-b: 700;
  --fs-1: 0.75rem;
  --fs-2: 1rem;
  --fs-3: 2.5rem;
  --fs-4: 3.5rem;
  --fs-fluid: clamp(var(--fs-3), 2vw + 1.75rem, var(--fs-4));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--ff-ss);
  background-color: var(--clr-grey-med);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

/* Card */
.card {
  background-color: var(--clr-white);
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  /* display: none; */
}

.card__img-wrapper {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  max-width: 100%;
}

.card img {
  object-fit: cover;
  width: 100%;
}

.card__content {
  padding: 2.5rem 1.5rem;
  font-size: var(--fs-2);
  font-weight: var(--fw-r);
}

/* card header area */
.card__heading {
  font-size: var(--fs-fluid);
  font-weight: var(--fw-b);
}

.card__lead {
  margin-block: 1.5rem;
}

/* benefits list */
.card__benefits-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2.5rem;
}

.card__list-item {
  position: relative;
  padding-left: 2.25rem;
}

.card__list-item:not(:last-child) {
  margin-bottom: 1rem;
}

.card__list-item::before {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 0;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../../assets/images/icon-list.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* form */
.form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__email-label {
  font-size: var(--fs-1);
  font-weight: var(--fw-b);
}

.form__error {
  font-size: var(--fs-1);
  color: var(--clr-error-text);
  font-weight: var(--fw-b);
}

.form__email-input {
  padding: 1.125em 1.5em;
  width: 100%;
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
}

.form__email-input::placeholder {
  color: var(--clr-grey-light);
}

.input-error {
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  background-color: hsla(
    var(--clr-primary-h),
    var(--clr-primary-s),
    var(--clr-primary-l),
    0.15
  );
}

.form__email-input:focus {
  outline: 1px solid var(--input-border-focus);
}

.btn {
  position: relative;
  border: none;
  width: 100%;
  padding: 1.125em;
  border-radius: 0.5rem;
  color: var(--btn-text);
  font-weight: var(--btn-fw);
  background-color: var(--btn-bg);
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  padding-top: 1.125em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--btn-bg-hover);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.btn:hover::before {
  opacity: 1;
}

.btn:hover {
  box-shadow: 0 10px 15px 5px
    hsla(var(--clr-primary-h), var(--clr-primary-s), var(--clr-primary-l), 0.25);
}

.btn:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px var(--btn-focus);
}

/* Success content */
.success {
  display: none;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1.5rem;
  background-color: var(--clr-white);
}

.success__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.success__check {
  margin-bottom: 2.25rem;
}

.success__heading {
  font-size: var(--fs-fluid);
  margin-bottom: 2rem;
}

.dismiss-btn {
  margin-top: auto;
}

/* Footer */
.footer {
  display: none;
}

.attribution {
  font-size: var(--fs-1);
  text-align: center;
}

.attribution a {
  color: var(--clr-white);
}

@media (min-width: 48rem) {
  .card {
    width: min(58rem, 100% - 3rem);
    margin: 0 auto;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 25rem);
    grid-template-areas: "aa bb";
    gap: 4rem;
    border-radius: 2.25rem;
  }

  .col-1 {
    grid-area: aa;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .col-2 {
    grid-area: bb;
    justify-self: end;
  }

  .success {
    display: none;
    min-height: auto;
    max-width: 31.5rem;
    padding: 3rem 4rem 4rem;
    gap: 2.25rem;
    border-radius: 2.25rem;
  }

  .footer {
    display: block;
  }
}
